*{
    box-sizing: border-box;
}
@font-face { 
	font-family: "Electric"; 
	src: url("./fonts/Electro Garden.ttf") format("truetype"); 
	font-weight: normal;
	font-style: normal; 
	font-display: swap; 
}
body{
    background-color: #000000;
    font-family: "Electric", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: #ff00aa;
    font-size: 400%;
    text-align: center;
}
h2{
    color: #ffff00;
    font-size: 300%;
    text-align: center;
}
h3{
    color: #5500ff;
    font-size: 200%;
    text-align: left;
}
div {
    display: flex;
  justify-content: flex-end;
}
.navbar{    
  width: 20%;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.navbar ul{
    list-style: none;
    background-color: #00ffff;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
}
.navbar a{
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.navbar a:hover{
    background-color: #009090;
}
.navbar li.active a {
    background-color: #aaff00;
}
section{
    width: 60%;
    float: left;
    border-style: solid;
    border-width: 5px;
    display: block;
    padding: 15px;
    border-color: #aaff00;
    background-color: #000000;
    color: #ff00aa;
}
article{
    width: 20%;
    float: right;
    padding: 15px;
    background-color: #aaff00;
    color: #000000;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
}
   
/* Specifies the size of the audio container */
audio {
  width: 115px;
  height: 25px;
}
audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 25px;
}
/* Removes the timeline */
audio::-webkit-media-controls-timeline {
  display: none !important;
}
/* Removes the time stamp */
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

#blokje{
    float: left;
}

.kokennav{    
  width: 20%;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.kokennav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.kokennav a{
    color: #00ffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.koken ul{
    list-style: none;}
.koken a{
    color: #00ffff;
    text-decoration: none;
}
.linknav ul{
    list-style: none;}
.linknav a{
    color: #5500ff;
    text-decoration: none;
    font-size: 125%
}
.smalllink ul{
    list-style: none;}
.smalllink a{
    color: #5500ff;
    text-decoration: none;}
@media screen and (max-width:800px){
    nav.navbar, section, article{width: 100%}}
.gallery{
    display: inline-block;
    border: 2px solid #00ffff;
    margin: 5px;
    width: 150px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
    color: #00ffff;
}
.gallery:hover{
    border: 2px solid #009090;
    color: #009090;
}
.gallery img{
    width:100%;
    height: auto;
}
